@import '../../../app';

.home {
   position: relative;

   .left-nav {
      color: red;
      background: green;
      & .board-group {
         color: yellow;
         background: #777;
      }

      .board {

         .toolbar {

         }
      }
   }

}

