<div class="dashboard-home">
   <leftNav class="left-nav" [width]="200">
      <div class="left-nav-wrap">
         <div *ngFor="#group of boardGroups, #idx=index">
            <div class="board-group" (click)="hideGroup[idx] = !hideGroup[idx]">{{group.groupName}}</div>
            <div class="accord-expand" [style.height]="hideGroup[idx]? '0px': (group.boards.length * 20) + 'px'">
               <div class="board" *ngFor="#board of group.boards" (click)="router.navigate('')">
                  {{board.name}}
                  <div class="toolbar">
                     <span class="glyphicon glyphicon-ok"></span>
                     <span class="glyphicon glyphicon-pencil"></span>
                     <span class="glyphicon glyphicon-remove-circle"></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </leftNav>
</div>
