<div class="dashboard-home">
   <leftNav class="left-nav" [width]="200">
      <div class="left-nav-wrap">
         <div *ngFor="#group of boardGroups, #idx=index">
            <div class="board-group" (click)="hideGroup[idx] = !hideGroup[idx]">{{group.groupName}}</div>
            <div class="accord-expand" [style.height]="hideGroup[idx]? '0px': 'auto'">
               <div class="board" *ngFor="#board of group.boards">
                  <a class="router-link" [routerLink]="['../Home', {id: board.id}]" >{{board.name}}</a>
                  <div class="toolbar">
                     <span class="glyphicon glyphicon-ok" (click)="setDefault(board)"></span>
                     <span class="glyphicon glyphicon-pencil"></span>
                     <span class="glyphicon glyphicon-remove-circle"></span>
                  </div>
                  <span class="default-icon glyphicon glyphicon-ok" [class.active]="board.default"></span>
               </div>
            </div>
         </div>
      </div>
   </leftNav>
</div>
