

@import (reference) "../../node_modules/bootstrap/less/variables";
@import (reference) "../../node_modules/bootstrap/less/mixins";

.outline {
   outline: 1px solid;
   outline-offset: -1px;
}
.outline-red {
   .outline;
   outline-color: red;
}
